@charset "utf-8";
@font-face {
    font-family: HappyZcool;
    src: url('./assets/font/happyzcool.ttf')
}
html {
    -ms-touch-action: none;
    touch-action: pan-y!important;
    
}
* { touch-action: pan-y!important;} 
body,
div,
h1,
h3,
h4,
p,
ul,
li {
	margin: 0;
    padding: 0;
    touch-action: pan-y;
    -webkit-touch-action: pan-y;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    border: none;
    outline: none;
}
img {
    display: block;
    border:none;
}
body {
	width: 100%;
    *cursor: default;
	overflow: hidden;
	font: 16px/1.5 "Microsoft YaHei",Helvetica,Arial;
}
#pageContain {
	overflow: hidden;
}
.page {
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.contain {
	width: 100%;
	height: 100%;
	display: none;
	position: relative;
	z-index: 0;
    padding-top: 70px;
}
.current .contain,.slide .contain {
	display: block;
}
.current {
	display: block;
	z-index: 1;
}
.slide {
	display: block;
	z-index: 2;
}
.swipe {
    display: block;
    z-index: 3;
    transition-duration: 0ms !important;
    -webkit-transition-duration: 0ms !important;
}
.section1 {
    background: #fce3e3;
    box-shadow: 1px 1px 4px 0 #f7a0a0;
}
.section2 {
    background: #52c1f3;
    box-shadow: 1px 1px 4px 0 #20b6fa;
}
.section3 {
    background: #f3efe9;
    box-shadow: 1px 1px 4px 0 #f7e8d1;
}
.title,.titleEng {
    -webkit-animation:dragTop .7s ease-in-out both;
    -moz-animation:dragTop .7s ease-in-out both;
    -ms-animation:dragTop .7s ease-in-out both;
    animation:dragTop .7s ease-in-out both;
    position: absolute;
    text-align: center;
    color: #fff;
    top: 13%;
    left: 50%;
}
.title {
    -webkit-animation-delay: .8s;
    -moz-animation-delay:.8s;
    -ms-animation-delay:.8s;
    animation-delay:.8s;
    width: 500px;
    line-height: 60px;
    height: 60px;
    font-weight: normal;
    letter-spacing: 8px;
    font-size: 40px;
    margin-left: -250px;

}
.titleEng {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    animation-delay:1.2s;
    width: 400px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    margin-left: -200px;
    margin-top: 50px;
}

.page1-box,.page2-box,.page3-box,.page4-box {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-animation:scaleAll .7s ease-in-out 1.6s both;
    -moz-animation:scaleAll .7s ease-in-out 1.6s both;
    -ms-animation:scaleAll .7s ease-in-out 1.6s both;
    animation:scaleAll .7s ease-in-out 1.6s both;
}
.page1-box {
    margin-left: -182px;
    margin-top: -150px;
    width: 365px;
    height: 347px;
}
.page2-box {
    margin-left: -366px;
    margin-top: -151px;
    width: 733px;
    height: 302px;
}
.page3-box {
    margin-left: -150px;
    width: 299px;
    height: 203px;
    margin-top: -40px;
}
.page4-box {
    width: 398px;
    height: 322px;
    background-image: url(../images/a6.png);
    background-size: 100% 100%;
    margin-left: -199px;
    margin-top: -120px;
}
.page4-box img{
    float: right;
    -webkit-animation:scaleIn .6s ease 2.4s both;
    -moz-animation:scaleIn .6s ease 2.4s both;
    -ms-animation:scaleIn .6s ease 2.4s both;
    animation:scaleIn .6s ease 2.4s both;
}
.scTop,.scBottom {
    position: absolute;
    left: 0;
    background: #2f2f2f url(../images/a15.png) repeat-x 0 0;
    width: 100%;
    height: 82px;
}
.scTop {
    top: 70px;
    -webkit-animation: bgL 20s linear 0s infinite alternate both;
    -moz-animation:bgL 20s linear 0s infinite alternate both;
    -ms-animation:bgL 20s linear 0s infinite alternate both;
    animation:bgL 20s linear 0s infinite alternate both;
}
.scBottom {
    bottom: 70px;
    -webkit-animation: bgR 20s linear 0s infinite alternate both;
    -moz-animation:bgR 20s linear 0s infinite alternate both;
    -ms-animation:bgR 20s linear 0s infinite alternate both;
    animation:bgR 20s linear 0s infinite alternate both;
}
.section1 .contain {
	display: block !important;
}

@media screen and (max-width: 680px) {
	.nav ul {
		display: none;
	}
	.nav span {
		font-size: 22px;
	}
	.page1 p {
		font-size: 14px;
	}
	#next,#prev {
		display: none;
	}
	.page1-box {
		margin-left: -91px;
		margin-top: -90px;
		width: 182px;
		height: 173px;
	}
	.page2-box {
		margin-left: -160px;
		margin-top: -70px;
		width: 320px;
		height: 140px;
	}
	.page3-box {
		margin-left: -60px;
		margin-top: -50px;
		width: 160px;
		height: 100px;
	}
	.page4-box {
		margin-left: -91px;
		margin-top: -90px;
		width: 182px;
		height: 173px;
	}
	.title {
		font-size: 30px;
		letter-spacing: 2px;
	}
	.titleEng {
		font-size: 18px;
	}
}

@keyframes dragTop {
    0% {
        opacity:0;
        transform:translateY(-70px)
    }
    60% {
        opacity:1;
        transform:translateY(20px)
    }
    90% {
        transform:translateY(-5px)
    }
    97% {
        transform:translateY(-1px)
    }
    100% {
        transform:translateY(0px)
    }
}
@-webkit-keyframes dragTop {
    0% {
        opacity:0;
        -webkit-transform:translateY(-70px)
    }
    60% {
        opacity:1;
        -webkit-transform:translateY(20px)
    }
    90% {
        -webkit-transform:translateY(-5px)
    }
    97% {
        -webkit-transform:translateY(-1px)
    }
    100% {
        -webkit-transform:translateY(0px)
    }
}
@-moz-keyframes dragTop {
    0% {
        opacity:0;
        -moz-transform:translateY(-70px)
    }
    60% {
        opacity:1;
        -moz-transform:translateY(20px)
    }
    90% {
        -moz-transform:translateY(-5px)
    }
    97% {
        -moz-transform:translateY(-1px)
    }
    100% {
        -moz-transform:translateY(0px)
    }
}
@-ms-keyframes dragTop {
    0% {
        opacity:0;
        -ms-transform:translateY(-70px)
    }
    60% {
        opacity:1;
        -ms-transform:translateY(20px)
    }
    90% {
        -ms-transform:translateY(-5px)
    }
    97% {
        -ms-transform:translateY(-1px)
    }
    100% {
        -ms-transform:translateY(0px)
    }
}
@keyframes scaleAll {
    0% {
        opacity: 0;
        transform: scale(0) rotate(30deg);
    }
    30% {
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(0);
    }
}
@-webkit-keyframes scaleAll {
    0% {
        opacity: 0;
        -webkit-transform: scale(0) rotate(30deg);
    }
    30% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1) rotate(0);
    }
}
@-moz-keyframes scaleAll {
    0% {
        opacity: 0;
        -moz-transform: scale(0) rotate(30deg);
    }
    30% {
        opacity: 1;
    }
    100% {
        -moz-transform: scale(1) rotate(0);
    }
}
@-ms-keyframes scaleAll {
    0% {
        opacity: 0;
        -ms-transform: scale(0) rotate(30deg);
    }
    100% {
        opacity: 1;
        -ms-transform: scale(1) rotate(0);
    }
}
@keyframes scaleIn {
    0% {
        opacity: 0;
        transform: scale(3);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@-webkit-keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes scaleIn {
    0% {
        opacity: 0;
        transform: scale(3);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@-ms-keyframes scaleIn {
    0% {
        opacity: 0;
        -ms-transform: scale(3);
    }
    100% {
        opacity: 1;
        -ms-transform: scale(1);
    }
}
@keyframes bgL {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 2000px 0;
    }
}
@-webkit-keyframes bgL {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 2000px 0;
    }
}
@-moz-keyframes bgL {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 2000px 0;
    }
}
@-ms-keyframes bgL {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 2000px 0;
    }
}
@keyframes bgR {
    0% {
        background-position: 2000px 0;
    }
    100% {
        background-position: 0 0;
    }
}
@-webkit-keyframes bgR {
    0% {
        background-position: 2000px 0;
    }
    100% {
        background-position: 0 0;
    }
}
@-moz-keyframes bgR {
    0% {
        background-position: 2000px 0;
    }
    100% {
        background-position: 0 0;
    }
}
@-ms-keyframes bgR {
    0% {
        background-position: 2000px 0;
    }
    100% {
        background-position: 0 0;
    }
}
* {
    touch-action: pan-y;
    -webkit-touch-action: pan-y;
}

#article {
    position: relative;
}

.haha1 {
    -webkit-animation: haha1 2s linear infinite;
    animation: haha1 2s linear infinite;
    transform-origin: 50% 50%;
}

#audio {
    z-index: -1000;
    opacity: 0;
}

@-webkit-keyframes haha1 {

    0% {
        -webkit-transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(90deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
    }

    75% {
        -webkit-transform: rotate(270deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }

}

@keyframes haha1 {

    0% {
        -webkit-transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(90deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
    }

    75% {
        -webkit-transform: rotate(270deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }

}

.love_audio_play {
    position: fixed;
    width: 30px;
    height: 30px;
    top: 17px;
    right: 17px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('http://a4.qpic.cn/psb?/V13fmOcx2tUxJm/Ru4Y9QVgCD7*ZMxK4iAGUxuRgbyGpbZgygjCr3F99KY!/b/dL8AAAAAAAAA&ek=1&kp=1&pt=0&bo=ZQBlAAAAAAADFzI!&tl=1&vuin=2504115064&tm=1564246800&sce=60-3-3&rf=viewer_4');
    display: block;
    z-index: 999;
}
/*
*第一屏样式
*/
.icon-love {
    width: 16rem;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

/*---------------------- body_left -------------------------*/
.body_left {
    width: 8rem;
    height: 8rem;
    left: 0;
    bottom: 0.5rem;
    position: absolute;
    z-index: 98;
}

.body_left img {
    width: 100%;
    height: 100%;
    display: block;
}

/*---------------------- body_left -------------------------*/

/*---------------------- body_center -------------------------*/
.container .love {
    width: 21.8rem;
    /* 13 * 40 */
    height: 15.6rem;
    /* 11 * 40 */
    left: 40%;
    top: 55%;
    position: absolute;
    margin: -10.4rem 0 0 -8.8rem;
    /*background-color: gray;
*/
}

.love .block {
    right: 0;
    position: absolute;
    visibility: hidden;
    /*未开始升空动画前隐藏*/
    background-color: yellow;
}

.love .block div {
    width: 1rem;
    height: 1rem;
    position: absolute;
    background: url("http://m.qpic.cn/psb?/V13fmOcx2tUxJm/jW*hameyDgjdoioQrtPYKV733eyoY1etgaWt5F901Z4!/b/dEABAAAAAAAA&bo=TAAwAAAAAAADF04!&rf=viewer_4") no-repeat;
    background-size: 1.2rem 1rem;
    box-sizing: border-box;
    z-index: 999;
}

/*---------------------- body_center -------------------------*/
/*
*第二屏样式
*/
/*
*第三屏样式
*/
.love_page {
    width: 100vw;
    height: 100vh;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    background: #f3efe9;
}

.love_audio_play {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 17px;
    right: 17px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('http://m.qpic.cn/psb?/V13fmOcx2tUxJm/Og3DoqRAQyfBvExE3QFnmWxpWK2G9ypOX7OtXx1YrdA!/b/dLYAAAAAAAAA&bo=ZQBlAAAAAAADFzI!&rf=viewer_4');
    display: block;
}

.animated {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-perspective: 1000;
    perspective: 1000;
}

.exClockwise {
    -webkit-animation-name: exClockwise;
    animation-name: exClockwise;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes exClockwise {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes exClockwise {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.love_trailer {
    z-index: 1;
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.love_surface {
    overflow: hidden;
    box-sizing: content-box;
    position: absolute;
    z-index: 1;
    width: 400px;
    height: 400px;
    animation-duration: 5s;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

.love_component_img {
    width: 400px;
    height: 400px;
    border-style: solid;
    border-radius: 0px;
    border-color: black;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
    vertical-align: top;
}

.love_trailer_exBounce {
    position: absolute;
    z-index: 1;
    width: 361px;
    height: 289px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

@-webkit-keyframes exBounce {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0)
    }

    3.333333% {
        -webkit-transform: scale(.64545, .686015);
        transform: scale(.64545, .686015)
    }

    6.666667% {
        -webkit-transform: scale(.798425, .90691);
        transform: scale(.798425, .90691)
    }

    10% {
        -webkit-transform: scale(.92774, 1.07226);
        transform: scale(.92774, 1.07226)
    }

    13.333333% {
        -webkit-transform: scale(1.01897, 1.14684);
        transform: scale(1.01897, 1.14684)
    }

    16.666667% {
        -webkit-transform: scale(1.07044, 1.140885);
        transform: scale(1.07044, 1.140885)
    }

    20% {
        -webkit-transform: scale(1.08847, 1.08847);
        transform: scale(1.08847, 1.08847)
    }

    23.333333% {
        -webkit-transform: scale(1.08303, 1.02623);
        transform: scale(1.08303, 1.02623)
    }

    26.666667% {
        -webkit-transform: scale(1.064445, .97964);
        transform: scale(1.064445, .97964)
    }

    30% {
        -webkit-transform: scale(1.041375, .958625);
        transform: scale(1.041375, .958625)
    }

    33.333333% {
        -webkit-transform: scale(1.01985, .960305);
        transform: scale(1.01985, .960305)
    }

    36.666667% {
        -webkit-transform: scale(1.00322, .97507);
        transform: scale(1.00322, .97507)
    }

    40% {
        -webkit-transform: scale(.99261, .99261);
        transform: scale(.99261, .99261)
    }

    43.333333% {
        -webkit-transform: scale(.98758, 1.005735);
        transform: scale(.98758, 1.005735)
    }

    46.666667% {
        -webkit-transform: scale(.986835, 1.01166);
        transform: scale(.986835, 1.01166)
    }

    50% {
        -webkit-transform: scale(.988815, 1.011185);
        transform: scale(.988815, 1.011185)
    }

    53.333333% {
        -webkit-transform: scale(.99207, 1.007025);
        transform: scale(.99207, 1.007025)
    }

    56.666667% {
        -webkit-transform: scale(.99549, 1.002085);
        transform: scale(.99549, 1.002085)
    }

    60% {
        -webkit-transform: scale(.998385, .998385);
        transform: scale(.998385, .998385)
    }

    63.333333% {
        -webkit-transform: scale(1.000425, .996715);
        transform: scale(1.000425, .996715)
    }

    66.666667% {
        -webkit-transform: scale(1.001575, .99685);
        transform: scale(1.001575, .99685)
    }

    70% {
        -webkit-transform: scale(1.00198, .99802);
        transform: scale(1.00198, .99802)
    }

    73.333333% {
        -webkit-transform: scale(1.001855, .999415);
        transform: scale(1.001855, .999415)
    }

    76.666667% {
        -webkit-transform: scale(1.00144, 1.000455);
        transform: scale(1.00144, 1.000455)
    }

    80% {
        -webkit-transform: scale(1.000925, 1.000925);
        transform: scale(1.000925, 1.000925)
    }

    83.333333% {
        -webkit-transform: scale(1.000445, 1.00089);
        transform: scale(1.000445, 1.00089)
    }

    86.666667% {
        -webkit-transform: scale(1.00007, 1.00056);
        transform: scale(1.00007, 1.00056)
    }

    90% {
        -webkit-transform: scale(.999835, 1.000165);
        transform: scale(.999835, 1.000165)
    }

    93.333333% {
        -webkit-transform: scale(.99972, .99987);
        transform: scale(.99972, .99987)
    }

    96.666667% {
        -webkit-transform: scale(.999705, .99974);
        transform: scale(.999705, .99974)
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

@keyframes exBounce {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0)
    }

    3.333333% {
        -webkit-transform: scale(.64545, .686015);
        transform: scale(.64545, .686015)
    }

    6.666667% {
        -webkit-transform: scale(.798425, .90691);
        transform: scale(.798425, .90691)
    }

    10% {
        -webkit-transform: scale(.92774, 1.07226);
        transform: scale(.92774, 1.07226)
    }

    13.333333% {
        -webkit-transform: scale(1.01897, 1.14684);
        transform: scale(1.01897, 1.14684)
    }

    16.666667% {
        -webkit-transform: scale(1.07044, 1.140885);
        transform: scale(1.07044, 1.140885)
    }

    20% {
        -webkit-transform: scale(1.08847, 1.08847);
        transform: scale(1.08847, 1.08847)
    }

    23.333333% {
        -webkit-transform: scale(1.08303, 1.02623);
        transform: scale(1.08303, 1.02623)
    }

    26.666667% {
        -webkit-transform: scale(1.064445, .97964);
        transform: scale(1.064445, .97964)
    }

    30% {
        -webkit-transform: scale(1.041375, .958625);
        transform: scale(1.041375, .958625)
    }

    33.333333% {
        -webkit-transform: scale(1.01985, .960305);
        transform: scale(1.01985, .960305)
    }

    36.666667% {
        -webkit-transform: scale(1.00322, .97507);
        transform: scale(1.00322, .97507)
    }

    40% {
        -webkit-transform: scale(.99261, .99261);
        transform: scale(.99261, .99261)
    }

    43.333333% {
        -webkit-transform: scale(.98758, 1.005735);
        transform: scale(.98758, 1.005735)
    }

    46.666667% {
        -webkit-transform: scale(.986835, 1.01166);
        transform: scale(.986835, 1.01166)
    }

    50% {
        -webkit-transform: scale(.988815, 1.011185);
        transform: scale(.988815, 1.011185)
    }

    53.333333% {
        -webkit-transform: scale(.99207, 1.007025);
        transform: scale(.99207, 1.007025)
    }

    56.666667% {
        -webkit-transform: scale(.99549, 1.002085);
        transform: scale(.99549, 1.002085)
    }

    60% {
        -webkit-transform: scale(.998385, .998385);
        transform: scale(.998385, .998385)
    }

    63.333333% {
        -webkit-transform: scale(1.000425, .996715);
        transform: scale(1.000425, .996715)
    }

    66.666667% {
        -webkit-transform: scale(1.001575, .99685);
        transform: scale(1.001575, .99685)
    }

    70% {
        -webkit-transform: scale(1.00198, .99802);
        transform: scale(1.00198, .99802)
    }

    73.333333% {
        -webkit-transform: scale(1.001855, .999415);
        transform: scale(1.001855, .999415)
    }

    76.666667% {
        -webkit-transform: scale(1.00144, 1.000455);
        transform: scale(1.00144, 1.000455)
    }

    80% {
        -webkit-transform: scale(1.000925, 1.000925);
        transform: scale(1.000925, 1.000925)
    }

    83.333333% {
        -webkit-transform: scale(1.000445, 1.00089);
        transform: scale(1.000445, 1.00089)
    }

    86.666667% {
        -webkit-transform: scale(1.00007, 1.00056);
        transform: scale(1.00007, 1.00056)
    }

    90% {
        -webkit-transform: scale(.999835, 1.000165);
        transform: scale(.999835, 1.000165)
    }

    93.333333% {
        -webkit-transform: scale(.99972, .99987);
        transform: scale(.99972, .99987)
    }

    96.666667% {
        -webkit-transform: scale(.999705, .99974);
        transform: scale(.999705, .99974)
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

.exBounce {
    -webkit-animation-name: exBounce;
    animation-name: exBounce;
}

.love_surface_image {
    width: 361px;
    height: 289px;
    z-index: 1;
    overflow: hidden;
    box-sizing: content-box;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    animation-duration: 2s;
    animation-delay: 0.1s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.love_component_image {
    width: 361px;
    height: 289px;
    border-style: solid;
    border-radius: 0px;
    border-color: black;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
    vertical-align: top;
}

.love_trailer_container {
    display: block;
    width: 100%;
    height: 100%;
}

@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg)
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg)
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg)
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg)
    }

    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg)
    }
}

@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg)
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg)
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg)
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg)
    }

    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg)
    }
}

.love_trailer_animated {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-perspective: 1000;
    perspective: 1000;
}

.swing {
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing;
}

.love_trailer_swing {
    position: absolute;
    z-index: 1;
    right: -10px;
    width: 217px;
    height: 76px;
    bottom: 35px;
    animation-duration: 1s;
    animation-delay: 1.1s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.love_surface_label {
    width: 217px;
    height: 76px;
    transform: rotate(7deg);
}

.love_component_label {
    display: table-cell;
    vertical-align: top;
    text-shadow: none;
    width: 217px;
    height: 76px;
}

.love_component_label p {
    text-align: center;
}

.love_component_label p span {
    font-size: 18px;
    font-family: HappyZcool;
    color: rgb(106, 53, 0);
}

.love_trailer_fadeIn {
    position: absolute;
    left: 60px;
    width: 276px;
    height: 45px;
    top: 55px;
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.love_surface_label_lg {
    width: 276px;
    transform: rotate(8deg);
}
.love_component_label_lg {
    display: table-cell;
    vertical-align: top;
    text-shadow: none;
    width: 276px;
    line-height: 36px;
}

.love_component_label_lg p {
    text-align: left;
}

.love_component_label_lg p span {
    font-family: HappyZcool;
    font-size: 32px;
    color: rgb(106, 53, 0);
}